@font-face {
  font-family: 'Averta';
  src: local('Averta'), url('./assets/fonts/Averta-Regular.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Averta';
  src: local('Averta'), url('./assets/fonts/Averta-Bold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Averta';
  src: local('Averta'), url('./assets/fonts/Averta-Light.woff') format('woff');
  font-weight: 400;
}

html, body {
  font-family: 'Averta';
}

.chakra-ui-table {
  width: 100%;
}

.chakra-ui-table thead tr {
  text-align: left;
}
.chakra-ui-table th {
  padding: 0.7rem;
  text-align: left;
}

.chakra-ui-table td {
  padding: 0.7rem;
  text-align: left;
}

.footer-nav-item:after {
  content: "•";
  display: inline-block;
  margin-left: 0.5rem;
}

.footer-nav-item:last-child:after {
  content: none;
}